/* section-believe starts */
* {
    margin: 0;
    font-family: 'work sans', sans-serif;

}

.section-believe {

    background-image: url("images/banner/banner3.png");
    width: 100%;
    height: 809px;
    margin: auto;
    top: 0px;
    padding-left: 60px;

}

.section-believe-title {
    color: #FFFFFF;


    width: 525px;
    height: 228px;

    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}

.section-believe-description {
    color: #FFFFFF;
    width: 500px;
    height: 80px;
    margin: 25px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    font-weight: 500;

    font-style: normal;
}

.btn-primary {
    width: 150px;
    height: 60px;
    background-color: #FFFFFF;
    margin-top: 53px;
    margin-bottom: 187px;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    border-radius: 5px;
    color: #005FAC;
    border: 5px solid white;

}

.float-right {
    direction: rtl;
    text-align: right;
    padding: 216px 230px 0;

}

/*  <!-- ending header area -->
    <!-- starting  failer sectioin --> */
.the-lady-with-failer {
    display: flex;
}

.the-lady {
    width: 570px;
    height: 723px;
    margin: 100px 0 0 200px;

}

.the-failer {
    width: 416px;
    height: 400px;
    margin: 358px 300px 0 117px;

}

.the-failer-title {

    font-style: normal;
    width: 288px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;


}

.the-failer-description-1 {
    margin-bottom: 14px;
    color: #444343;
    width: 416px;
    height: 104px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.the-failer-description-2 {
    width: 416px;
    height: 104px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 50px;

    color: #444343;
    line-height: 26px;

}

.fa-solid {
    width: 24px;
    height: 22.52px;
    color: green;
}

/* end of failer parrt --> */
/* starting of achivment part --> */

.achivment-content {
    display: flex;
    width: 1500px;
    height: 1000px;
    justify-content: space-between;
    margin: auto;
}

.achivment {
    display: flex;
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 20px;
    width: 1140px;

    justify-content: space-between;
    margin: auto;




}

.achivment-bar {
    text-align: center;
    font-size: 37px;
    padding: 200px 0 50px 0;
    width: 400px;
    margin: auto;
}



.education-div {
    width: 570px;
    height: 400px;
    margin-top: 120px;
    background-color: rgb(148, 208, 232);
    border-radius: 10px;

    padding: 50px 0 0 30px;
    margin-right: 10px;


}

.achivment-heading {
    font-size: 25px;
    margin-bottom: 10px;

}

.short-title {
    margin-bottom: 30px;

}

.elaborate-title {
    margin-bottom: 20px;
}

.title-description {
    color: #444343;
    font-size: 15px;
}


.experience-div {
    width: 570px;
    height: 400px;
    margin-top: 120px;
    background-color: rgb(203, 239, 239);
    border-radius: 10px;

    padding: 50px 0 0 30px;

}

.experience-heading {
    font-size: 25px;
    margin-bottom: 10px;


}

.experience-title {
    margin-bottom: 30px;
}

.experience-sub-title {
    margin-bottom: 20px;
}

.derscription {
    color: #444343;
    font-size: 15px;
}

/* end of achivment part */
/* starting of my plan */
.my-plan {
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    line-height: 47px;
    margin: 150px 0;
}

.section-my-plan {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.plan-for-web,
.plan-for-js,
.plan-for-smoke,
.plan-for-ecomers {
    width: 285px;
    text-align: center;
    padding-right: 10px;

}

/* end of my plan */

.section-my-plan p {


    font-weight: 500;
    font-size: 15px;
    line-height: 29px;
    color: #737272;
}


/* }start gradent */

.gradient {

    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url('images/watch.png');
    width: 1140px;
    height: 300px;
    margin: auto;
    border-radius: 8px;
}

.gradient-main {
    margin-bottom: 150px;
}

.header-in-gradient {
    width: 459px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color: #FFFFFF;
    ;
    padding: 50px 0 0 50px;
}

.btn-primary-2 {

    width: 160px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 24px 0 0 50px;
    border: 5px solid white;


}

.btn-primary2,
a {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

    color: #005FAC;
    text-decoration: none;
}

/* }complete gradient part style */
/* start footer */
.footer-main {
    width: 100%;
    height: 577px;
    display: flex;
    background-color: black;
}

.footer-div {
    width: 485px;
    height: 317px;

    padding: 130px 0 0 170px;
}






.footer-title {
    margin-bottom: 25px;
    color: #FFFFFF;


}

.footer-title-description {
    padding-bottom: 40px;
    color: #FFFFFF;

}

.input-and-btn {
    width: 325px;
    height: 204px;

    color: #FFFFFF;
    margin-left: 355px;
    margin-top: 130px;

}

.placeholder {
    width: 300px;
    height: 50px;

    background-color: black;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

.text-color {
    color: #FFFFFF;
}

.btn-primary-3 {
    width: 130.11px;
    height: 40px;

    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    background: #005FAC;
    border-radius: 8px;

    /* }end footer 2 */